<!DOCTYPE html>
<html>
  <head>
    <title>Zawardo Stopwatch v1</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1>Zawardo Stopwatch v1</h1>
    <img src="{% static 'zawardooo.gif' %}" />

    <div id="container">
      <div id="display">00:00:00</div>
      <div id="controls">
        <button id="start" onclick="start()">Start</button>
        <button id="stop" onclick="stop()">Stop</button>
        <button id="reset" onclick="reset()">Reset</button>
      </div>
    </div>

    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
